<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Tap</title>
</head>
<body>
    <div class = 'page-header'>
        <h1>** Base Flask **</h1>
        <hr/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="http://192.168.219.122:8080/video" width="300px" height="200ps">
            </div>
        </div>
    </div>

</body>
</html>